
* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
.backdrop{
    display:none;
    position: fixed; 
    z-index:100 ;
    width: 100vw;
    height:100vh;
    background:rgba(0,0,0,0.5);
}
.main-header {
    width: 100%;
    position:fixed;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    z-index: 2;
    top: 0;
    left: 0;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.37rem;
    height: 1.37rem;
     
}
.main-header__brand img{
    height: 1.56rem;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.18rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}
.choose_plan_button{
    background: rgb(53, 236, 21);
    
    border-radius: 0.62rem;
    padding: 0.43rem 0.62rem;
    font-size: 1.1rem;
    font-size: bold;
    font: inherit;
    cursor:pointer;
}
.choose_plan_button:hover,
.choose_plan_button:active{
    background: red;
    color: white;
}
.choose_plan_button{
    outline:none;
    ;
}
.main-footer{
    background: black;
    color: white;
    padding:32px;
    margin-top:48px;

}
.main-footer__links{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
}
.main-footer__link{
    display:inline-block;
    margin:0 16px;
}
.main-footer__link a{
    color:white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active{
    color:#ccc;
}

